<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.special.mapper.CommentMapper">
	<resultMap type="comment" id="commentWithPojo">
		<id column="id" property="id"/>
		<result column="content" property="content"/>
		<result column="create" property="create"/>
		<result column="status" property="status"/>
		<association property="user" column="user_id" javaType="user"
			select="top.special.mapper.UserMapper.findUserById"/>
		<association property="book" column="book_id" javaType="book"
			select="top.special.mapper.BookMapper.findBookById"/>
		<association property="comment" column="comment_id" javaType="comment"
			select="top.special.mapper.CommentMapper.findCommentById"/>
		<association property="booklist" column="booklist_id" javaType="booklist"
			select="top.special.mapper.BooklistMapper.findBooklistById"/>
	</resultMap>
	<select id="findCommentByIdResultCommentWithPojo" resultMap="commentWithPojo">
		select * from comment where id = #{id}
	</select>
	
	<select id="findCommentByBIdResultLastComment" resultType="comment">
		select * from `comment` where book_id = #{b_id} 
		<if test="last != null">
			order by id desc limit #{last}
		</if>
	</select>
</mapper>