<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.special.mapper.ReportMapper">
	<resultMap type="report" id="reportWithPojo">
		<id column="id" property="id"/>
		<result column="content" property="content"/>
		<result column="create" property="create"/>
		<result column="status" property="status"/>
		<association property="book" column="book_id" javaType="book" 
			select="top.special.mapper.BookMapper.findBookById"/>
		<association property="booklist" column="booklist_id" javaType="booklist" 
			select="top.special.mapper.BooklistMapper.findBooklistById"/>
		<association property="comment" column="comment_id" javaType="comment" 
			select="top.special.mapper.CommentMapper.findCommentById"/>
		<association property="user" column="user_id" javaType="user" 
			select="top.special.mapper.UserMapper.findUserById"/>
	</resultMap>
	<select id="findReportByPojoIdResultReportWithPojo" resultMap="reportWithPojo">
		select * from report where 
		<choose>
			<when test="pojoId == 1">
				book_id != 0
			</when>
			<when test="pojoId == 2">
				booklist_id != 0
			</when>
			<when test="pojoId == 3">
				comment_id != 0
			</when>
		</choose>
		<if test="status != null">
			and `status` = #{status}
		</if>
	</select>
	
	<insert id="saveReport">
		insert into report (
		<choose>
			<when test="pojoId == 1">
				book_id, 
			</when>
			<when test="pojoId == 2">
				booklist_id, 
			</when>
			<when test="pojoId == 3">
				comment_id, 
			</when>
		</choose>
		user_id,content,`create`) values (#{p_id},#{u_id},#{report.content},#{report.create})
	</insert>
</mapper>